@charset "utf-8";
/* CSS Document */
/*
body {
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	background-color:#CCD9C8;
}

p, code, pre {
	background-color:#E6EDE4;
	width:80%;
	padding:20px;
	margin:0 auto;
}

.clear {
	clear:both;
}

 h1 , h2, h3{
 	width:90%;
	color:#000000;
	margin-bottom:20px;
	margin:10px auto;
	padding:20px;
}*/